html, body, #root, .App {
  height: 100%;
}

.container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  max-width: 1280px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.input {
  height: 75px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  width: 100%;
  font-size: 1.125rem;
}

.formWrapper {
  display: flex;
  width: 100%;
}

.stickersContainer {
  position: absolute;
  display: flex;
  background-color: gray;
  top: 153px;
  border-radius: 6px;
  z-index: 1;
}

.sticker {
  width: 100px;
  height: 100px;

  &:hover {
    cursor: pointer;
  }
}

.comment {
  display: flex;
  height: 200px;
}

.comments {
  list-style: none;
  margin: 64px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.editArea {
  display: flex;
  background-color: #e6e6e6;
  border: 1px solid black;
  border-radius: 0 0 6px 6px;
  margin-top: -1px;
}

.button {
  margin: 0;
  padding: 4px 8px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}